Repository MaoMaoCake/Smart-Farm, pull requests merged in 2023-02, with the labels that each got.

#40 [feature][#37] Change to SQLAlchemy for the database connection
  backend/auth/models.py
  backend/auth/utils.py
  backend/database/connector.py
  backend/database/enum_list.py
  backend/database/schemas.py
  backend/database/utils.py
  backend/requirements.txt
Labels: Backend, Database

#42 Feature/create classes for databse
  backend/database/schemas.py
Labels: Backend, Database

#45 [feature][#43] API add farm to user
  backend/auth/models.py
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/__init__.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/main.py
  backend/response/error_codes.py
  backend/response/response_dto.py
Labels: Backend, API

#46 Feature/list all farm
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#51 Feature/api list light
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/response/error_codes.py
Labels: Backend, API

#55 Feature/api list light in preset
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/response/error_codes.py
Labels: Backend, API

#57 [bugs][#56] Fix list farm response not return farmId
  backend/database/connector.py
  backend/farm/models.py
Labels: bug, Backend, API

#64 [#53]feature/api-list-preset
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#67 [feature][#61] API list ACs
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#69 [#59]feature/api-get-light-strength
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/response/error_codes.py
Labels: Backend, API

#68 Feature/api get farm stats
  backend/database/connector.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#74 Feature/api apply light setting to all lights
  backend/auth/models.py
  backend/auth/route.py
  backend/auth/utils.py
  backend/database/connector.py
  backend/database/enum_list.py
  backend/database/schemas.py
  backend/database/utils.py
  backend/farm/__init__.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/main.py
  backend/requirements.txt
  backend/response/error_codes.py
  backend/response/response_dto.py
Labels: Backend, API

#77 Feature/get light strength setting in preset
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/response/error_codes.py
Labels: Backend, API

#80 Feature/delete preset
  backend/database/connector.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#87 [Feature][#81] Initiate worker service
  backend-worker/.gitignore
  backend-worker/Dockerfile
  backend-worker/__init__.py
  backend-worker/main.py
  backend-worker/requirements.txt
  backend-worker/response/error_codes.py
  backend-worker/response/response_dto.py
  backend-worker/worker/__init__.py
  backend-worker/worker/config.py
  backend-worker/worker/enum_list.py
  backend-worker/worker/models.py
  backend-worker/worker/route.py
  backend-worker/worker/utils.py
  backend/farm/config.py
  deployment/data/mosquitto.db
  deployment/log/mosquitto.log
Labels: API, Backend-Worker

#88 [#54]feature/api-get-farm-setting
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#93 Feature/initiate scheduler on start
  backend-worker/database/__init__.py
  backend-worker/database/connector.py
  backend-worker/database/enum_list.py
  backend-worker/database/schemas.py
  backend-worker/database/utils.py
  backend-worker/main.py
  backend-worker/requirements.txt
  backend-worker/worker/enum_list.py
  backend-worker/worker/models.py
  backend-worker/worker/route.py
  backend-worker/worker/utils.py
  deployment/data/mosquitto.db
  deployment/log/mosquitto.log
Labels: API, Backend-Worker

#94 Feat/settings page
  frontend/src/routes/[farm_id]/settings/+page.svelte
  frontend/src/routes/[farm_id]/settings/ACSet.svelte
  frontend/src/routes/[farm_id]/settings/ACSetting.svelte
  frontend/src/routes/[farm_id]/settings/LightSet.svelte
  frontend/src/routes/[farm_id]/settings/WateringSet.svelte
  frontend/src/routes/[farm_id]/settings/WateringSetting.svelte
Labels: Front End

#102 [feature][#101] turn light on and off through mqtt
  backend-worker/database/connector.py
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/enum_list.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#108 Feat/large stats preview
  frontend/src/lib/StatPreview.svelte
  frontend/src/lib/StatPreviewLarge.svelte
  frontend/src/routes/[farm_id]/settings/+page.svelte
Labels: Front End

#110 Feat/stats page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/[farm_id]/stats/+page.svelte
  frontend/src/routes/[farm_id]/stats/+page.ts
  frontend/vite.config.ts
Labels: Front End

#111 Feature/api turn on off ac
  backend/database/connector.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#112 [feature][#104] Turn on and off ac automations
  backend-worker/database/connector.py
  backend-worker/worker/models.py
  backend-worker/worker/route.py
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API, Backend-Worker

#116 Fix/cherry pick commit from apply light to all in preset
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: bug, Backend, API

#113 [feature][#107] turn on/off all ac automation
  backend/database/connector.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API, Backend-Worker

#117 Fix/cherrypick from get farm setting
  backend/database/connector.py
  backend/database/schemas.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: bug, Backend, API

#118 [feature][#63] add mqtt request to API apply light strength to all in…
  backend-worker/database/connector.py
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/utils.py
Labels: Backend, API

#120 [feature][#105] API update light strength of light in farm
  backend/database/connector.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API, Backend-Worker

#119 Frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/AddFarm.svelte
  frontend/src/lib/Nav.svelte
  frontend/src/lib/SF_types.d.ts
  frontend/src/lib/SettingStores.js
  frontend/src/lib/StatPreview.svelte
  frontend/src/lib/StatPreviewLarge.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/[farm_id]/ac_list/+page.svelte
  frontend/src/routes/[farm_id]/ac_list/+page.ts
  frontend/src/routes/[farm_id]/light_list/+page.svelte
  frontend/src/routes/[farm_id]/light_list/+page.ts
  frontend/src/routes/[farm_id]/light_preset/+page.svelte
  frontend/src/routes/[farm_id]/light_preset/+page.ts
  frontend/src/routes/[farm_id]/light_preset/edit/[preset_id]/+page.svelte
  frontend/src/routes/[farm_id]/light_preset/edit/[preset_id]/+page.ts
  frontend/src/routes/[farm_id]/settings/+page.svelte
  frontend/src/routes/[farm_id]/settings/+page.ts
  frontend/src/routes/[farm_id]/settings/ACSet.svelte
  frontend/src/routes/[farm_id]/settings/ACSetting.svelte
  frontend/src/routes/[farm_id]/settings/CO2Setting.svelte
  frontend/src/routes/[farm_id]/settings/HumiditySetting.svelte
  frontend/src/routes/[farm_id]/settings/LightSet.svelte
  frontend/src/routes/[farm_id]/settings/LightSetting.svelte
  frontend/src/routes/[farm_id]/settings/WateringSet.svelte
  frontend/src/routes/[farm_id]/settings/WateringSetting.svelte
  frontend/src/routes/[farm_id]/stats/+page.svelte
  frontend/src/routes/[farm_id]/stats/+page.ts
  frontend/src/routes/add-farm/+page.svelte
  frontend/src/routes/app.css
  frontend/src/routes/forgot-password/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/vite.config.ts
Labels: Front End

#123 [feature][#106] API update light combination strength
  backend-worker/worker/models.py
  backend-worker/worker/utils.py
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#124 Feat/ac list
  frontend/src/routes/[farm_id]/ac_list/+page.svelte
  frontend/src/routes/[farm_id]/ac_list/+page.ts
  frontend/src/routes/[farm_id]/ac_list/ACCard.svelte
Labels: Front End

#125 Feat/setting tool tips
  frontend/src/routes/[farm_id]/settings/ACSetting.svelte
  frontend/src/routes/[farm_id]/settings/CO2Setting.svelte
  frontend/src/routes/[farm_id]/settings/HumiditySetting.svelte
  frontend/src/routes/[farm_id]/settings/LightSetting.svelte
  frontend/src/routes/[farm_id]/settings/WateringSetting.svelte
Labels: Front End

#127 Feature/api turn on off dehumidifier
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#129 Bug/delete preset
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
  backend/response/error_codes.py
Labels: bug, Backend, API

#128 [feature] update name of light/ac/farm/preset
  backend/database/connector.py
  backend/farm/models.py
  backend/farm/route.py
  backend/farm/utils.py
Labels: Backend, API

#133 [Bug][#132] Change mqtt request from str to json
  backend-worker/worker/utils.py
  backend/farm/utils.py
Labels: Backend, API
